#card-container{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.card-service{
    width: 25%;
}


#title-service{
    font-size:35px;
    font-weight:bold;
}

.place-icons{
    display:flex;
    justify-content: flex-end;
    column-gap: 14px;
    font-size: 1.2rem;
}

.place-icons svg:hover{
    color: #bca65e;
    cursor: pointer;
}



.card-service:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .card-service{
        width: 30%;
    }
}

@media screen and (max-width: 720px) {
    .card-service{
        width: 70%;
    }
} 

