#user {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  
}

#input-user {
  background: #c4c4c4;
  border-radius: 5px;
  border-color: #c4c4c4;
  height: 25px;
}

#text-user {
  font-weight: 500;
  font-size: 18px;
}

#title-user {
  font-weight: 500;
  font-size: 24px;
}

.button-user {
  margin-right: 20px;
} 
#circle {
  width: 200px;
  height: 200px;
  background: #c4c4c4;
  border-radius: 50%;
  margin-bottom: 20px;
}

#text-upload {
  font-weight: 500;
  font-size: 16px;
}
#upload-image {
  width: 220px;
  height: 30px;
  background: #c4c4c4;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: left;
}
#button-upload {
  height: 20px;
  width: 125px;
  margin: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
}

#personal-user {
  margin-top: 45px;
}

#upload {
  font-size: 12px;
}

#personal-from {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}
